
    .subscribe-button {
        background-color: rgb(200, 0, 0);
        color: white;
        border: none;
        height: 34px;
        width: 105px;
        font-size: 15px;
        border-radius: 2px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: opacity 0.15s;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .subscribe-button:hover {
        cursor: pointer;
    }

    .subscribe-button:active {
        opacity: 0.5;
    }
